{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Icono MediConsult -->
    <link rel="shortcut icon" href="{% static 'images/gt_favicon.png' %}">
    <!-- ESTILOS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Contraseña | MediConsult</title>

<body>
    <header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">
        <div class="m-header">
            <img src="{% static 'images/logo.png'  %}" alt="" height="60px">
            </a>
            <a href="#!" class="mob-toggler">
                <i class="feather icon-more-vertical"></i>
            </a>
        </div>
    </header>

    <div class="container">
        <a href="{% url 'login'  %}" style="text-decoration:none;color:white;"><button type="submit"
            class="btn btn-danger" style="margin-left: 83%;"> Regrese al login</button></a>
    <h1 style="text-align: center;"><strong>Recuperación de Contraseña </strong> </h2>
    <br>
        <br>
        <!--Formulario de registro-->
        <form method="post" style="text-align: center">
            {% csrf_token %}
            <h2 for="id_email" > Correo Electronico: </h2> <br>{{ form.email }}
                <br>
                <br>
                <br>
            {% if field.errors %}
            {{ field.errors }}
            {% endif %}
            <button type="submit" class="btn btn-primary">Recuperar</button>

    </div>
    </form>
    </div>
</body>

</html>